<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="camera_name" />
    <arg name="serial_no" />
    <arg name="tf_prefix" />
    <arg name="profile"                               default="640x480x15"/>

    <group unless="$(var sim)">
        <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
            <arg name="camera_name"                   value ="$(var camera_name)" />
            <arg name="camera_namespace"              value ="" />
            <arg name="base_frame_id"                 value ="link" />


            <arg name="serial_no"                     value="$(var serial_no)"/>

            <arg name="initial_reset"                 value="true"/>

            <arg name="pointcloud.enable"             value="false"/>
            <arg name="enable_sync"                   value="true"/>
            <arg name="align_depth.enable"            value="true"/>

            <arg name="enable_depth"                  value="true"/>
            <arg name="depth_module.depth_profile"    value="$(var profile)"/>

            <arg name="enable_infra"                  value="true"/>
            <arg name="enable_infra1"                  value="true"/>
            <arg name="enable_infra2"                  value="true"/>

            <arg name="depth_module.infra_profile"    value="$(var profile)"/>

            <arg name="enable_color"                  value="true"/>
            <arg name="rgb_camera.color_profile"      value="$(var profile)"/>

            <arg name="decimation_filter.enable"      value="true"/>

            <arg name="publish_tf"                    value="true"/>
            <arg name="tf_publish_rate"               value="0.0"/>
            <arg name="tf_prefix"                     value="$(var tf_prefix)"/>

            <arg name="clip_distance"                 value="-1.0"/>
        </include>
    </group>
    <push_ros_namespace namespace="$(var camera_name)"/>
    <include file="$(find-pkg-share lunabot_perception)/launch/apriltag.launch">
    <arg name="camera_frame"                    value="$(var tf_prefix)$(var camera_name)_link" />
    <arg name="camera_topic"                    value="color/image_raw"/>

    <arg name="use_sim_time"                    value="$(var sim)"/>
    </include>

    <node pkg="rtabmap_util" exec='point_cloud_xyz' name="point_cloud_xyz" respawn="true">
        <remap from="depth/camera_info"             to="aligned_depth_to_color/camera_info" />
        <remap from="depth/image"                   to="aligned_depth_to_color/image_raw" />
        <remap from="cloud"                         to="points" /> <!-- output-->

        <param name="decimation"                    value="4"/>
        <param name="voxel_size"                    value=".01"/>
        <param name="noise_filter_radius"           value=".1"/>
        <param name="max_depth"                     value="2.0"/>
    </node>
</launch>
