<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- ============================== -->
  <!-- ========= ARGUMENTS ========== -->
  <!-- ============================== -->

  <!-- Type of Camera Args -->
  <arg name="sim"                           default="false"/>

  <let name="serial_no_cam_1"               value="'_053122251286'"/>
  <arg name="cam_1_name"                    default="d455_front"/>
  <let name="serial_no_cam_2"               value="'141222070808'"/>
  <arg name="cam_2_name"                    default="d455_back"/>

  <let name="serial_no_cam_3"               value="'339222072367'"/>
  <arg name="cam_3_name"                    default="d455_front"/>
  <let name="serial_no_cam_4"               value="'939622074382'"/>
  <arg name="cam_4_name"                    default="d455_back"/>

  <arg name="cams"                          default="''"/>

  <arg name="pointcloud"                      default="$(eval 'len($(var cams)) > 1')" />

  <arg name="profile"                         default="848x480x30"/>
  <let name="initial_reset"                   value="true"/>
  <let name="decimation"                      value="4"/> 
  <let name="voxel_size"                      value="0.01"/> <!--meters-->
  <let name="noise_filter_radius"             value="0.1"/> <!--meters radius-->
  <let name="max_depth"                       value="2.0"/> <!--meters-->

  <let name="/ns" if="$(eval 'len(\'$(var ns)\') > 0')" value="/$(var ns)"/>
  <let name="/ns" unless="$(eval 'len(\'$(var ns)\') > 0')" value=""/>
  <let name="ns/" if="$(eval 'len(\'$(var ns)\') > 0')" value="$(var ns)/"/>
  <let name="ns/" unless="$(eval 'len(\'$(var ns)\') > 0')" value=""/>

  <group if="$(eval '\'1\' in $(var cams)')">
    <group unless="$(var sim)">
      <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
        <arg name="camera_name"                   value ="$(var cam_1_name)" />
        <arg name="camera_namespace"              value ="" />
        <arg name="base_frame_id"                 value ="link" />


        <arg name="serial_no"                     value="$(var serial_no_cam_1)"/>

        <arg name="initial_reset"                 value="$(var initial_reset)"/>

        <arg name="pointcloud.enable"             value="false"/>
        <arg name="enable_sync"                   value="true"/>
        <arg name="align_depth.enable"            value="true"/>

        <arg name="enable_depth"                  value="true"/>
        <arg name="depth_module.depth_profile"    value="$(var profile)" />

        <arg name="enable_color"                  value="true"/>
        <arg name="rgb_camera.color_profile"      value="$(var profile)" />

        <arg name="decimation_filter.enable"      value="true"/>

        <arg name="publish_tf"                    value="true"/>
        <arg name="tf_publish_rate"               value="0.0"/>

        <arg name="clip_distance"                 value="-1.0"/>
      </include>
    </group>
    <push_ros_namespace namespace="$(var cam_1_name)"/>
    <include file="$(find-pkg-share lunabot_perception)/launch/apriltag.launch">
      <arg name="camera_frame"                    value="$(var ns)$(var cam_1_name)_link" />
      <arg name="camera_topic"                    value="color/image_raw"/>

      <arg name="use_sim_time"                    value="$(var sim)"/>
    </include>

    <node pkg="rtabmap_util" exec='point_cloud_xyz' name="point_cloud_xyz" respawn="true">
	    <remap from="depth/camera_info"             to="aligned_depth_to_color/camera_info" />
	    <remap from="depth/image"                   to="aligned_depth_to_color/image_raw" />
      <remap from="cloud"                         to="points" /> <!-- output-->

      <param name="decimation"                    value="$(var decimation)"/>
      <param name="voxel_size"                    value="$(var voxel_size)"/>
      <param name="noise_filter_radius"           value="$(var noise_filter_radius)"/>
      <param name="max_depth"                     value="$(var max_depth)"/>
    </node>
  </group>

  <group if="$(eval '\'2\' in $(var cams)')">
    <group unless="$(var sim)">
      <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
        <arg name="camera_name"                   value ="$(var cam_2_name)" />
        <arg name="camera_namespace"              value ="" />
        <arg name="base_frame_id"                 value ="link" />


        <arg name="serial_no"                     value="$(var serial_no_cam_2)"/>

        <arg name="initial_reset"                 value="$(var initial_reset)"/>

        <arg name="pointcloud.enable"             value="false"/>
        <arg name="enable_sync"                   value="true"/>
        <arg name="align_depth.enable"            value="true"/>

        <arg name="enable_depth"                  value="true"/>
        <arg name="depth_module.depth_profile"    value="$(var profile)" />

        <arg name="enable_color"                  value="true"/>
        <arg name="rgb_camera.color_profile"      value="$(var profile)" />

        <arg name="decimation_filter.enable"      value="true"/>

        <arg name="publish_tf"                    value="true"/>
        <arg name="tf_publish_rate"               value="0.0"/>

        <arg name="clip_distance"                 value="-1.0"/>
      </include>
    </group>
    <push_ros_namespace namespace="$(var cam_2_name)"/>
    <include file="$(find-pkg-share lunabot_perception)/launch/apriltag.launch">
      <arg name="camera_frame"                    value="$(var ns)$(var cam_2_name)_link" />
      <arg name="camera_topic"                    value="color/image_raw"/>

      <arg name="use_sim_time"                    value="$(var sim)"/>
    </include>

    <node pkg="rtabmap_util" exec='point_cloud_xyz' name="point_cloud_xyz" respawn="true">
	    <remap from="depth/camera_info"             to="aligned_depth_to_color/camera_info" />
	    <remap from="depth/image"                   to="aligned_depth_to_color/image_raw" />
      <remap from="cloud"                         to="points" /> <!-- output-->

      <param name="decimation"                    value="$(var decimation)"/>
      <param name="voxel_size"                    value="$(var voxel_size)"/>
      <param name="noise_filter_radius"           value="$(var noise_filter_radius)"/>
      <param name="max_depth"                     value="$(var max_depth)"/>
    </node>
  </group>

  <group if="$(eval '\'3\' in $(var cams)')">
    <group unless="$(var sim)">
      <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
        <arg name="camera_name"                   value ="$(var cam_3_name)" />
        <arg name="camera_namespace"              value ="" />
        <arg name="base_frame_id"                 value ="link" />


        <arg name="serial_no"                     value="$(var serial_no_cam_3)"/>

        <arg name="initial_reset"                 value="$(var initial_reset)"/>

        <arg name="pointcloud.enable"             value="false"/>
        <arg name="enable_sync"                   value="true"/>
        <arg name="align_depth.enable"            value="true"/>

        <arg name="enable_depth"                  value="true"/>
        <arg name="depth_module.depth_profile"    value="$(var profile)" />

        <arg name="enable_color"                  value="true"/>
        <arg name="rgb_camera.color_profile"      value="$(var profile)" />

        <arg name="decimation_filter.enable"      value="true"/>

        <arg name="publish_tf"                    value="true"/>
        <arg name="tf_publish_rate"               value="0.0"/>

        <arg name="clip_distance"                 value="-1.0"/>
      </include>
    </group>
    <push_ros_namespace namespace="$(var cam_3_name)"/>
    <include file="$(find-pkg-share lunabot_perception)/launch/apriltag.launch">
      <arg name="camera_frame"                    value="$(var ns)$(var cam_3_name)_link" />
      <arg name="camera_topic"                    value="color/image_raw"/>

      <arg name="use_sim_time"                    value="$(var sim)"/>
    </include>

    <node pkg="rtabmap_util" exec='point_cloud_xyz' name="point_cloud_xyz" respawn="true">
	    <remap from="depth/camera_info"             to="aligned_depth_to_color/camera_info" />
	    <remap from="depth/image"                   to="aligned_depth_to_color/image_raw" />
      <remap from="cloud"                         to="points" /> <!-- output-->

      <param name="decimation"                    value="$(var decimation)"/>
      <param name="voxel_size"                    value="$(var voxel_size)"/>
      <param name="noise_filter_radius"           value="$(var noise_filter_radius)"/>
      <param name="max_depth"                     value="$(var max_depth)"/>
    </node>
  </group>

  <group if="$(eval '\'4\' in $(var cams)')">
    <group unless="$(var sim)">
      <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
        <arg name="camera_name"                   value ="$(var cam_4_name)" />
        <arg name="camera_namespace"              value ="" />
        <arg name="base_frame_id"                 value ="link" />


        <arg name="serial_no"                     value="$(var serial_no_cam_4)"/>

        <arg name="initial_reset"                 value="$(var initial_reset)"/>

        <arg name="pointcloud.enable"             value="false"/>
        <arg name="enable_sync"                   value="true"/>
        <arg name="align_depth.enable"            value="true"/>

        <arg name="enable_depth"                  value="true"/>
        <arg name="depth_module.depth_profile"    value="$(var profile)" />

        <arg name="enable_color"                  value="true"/>
        <arg name="rgb_camera.color_profile"      value="$(var profile)" />

        <arg name="decimation_filter.enable"      value="true"/>

        <arg name="publish_tf"                    value="true"/>
        <arg name="tf_publish_rate"               value="0.0"/>

        <arg name="clip_distance"                 value="-1.0"/>
      </include>
    </group>
    <push_ros_namespace namespace="$(var cam_4_name)"/>
    <include file="$(find-pkg-share lunabot_perception)/launch/apriltag.launch">
      <arg name="camera_frame"                    value="$(var ns)$(var cam_4_name)_link" />
      <arg name="camera_topic"                    value="color/image_raw"/>

      <arg name="use_sim_time"                    value="$(var sim)"/>
    </include>

    <node pkg="rtabmap_util" exec='point_cloud_xyz' name="point_cloud_xyz" respawn="true">
	    <remap from="depth/camera_info"             to="aligned_depth_to_color/camera_info" />
	    <remap from="depth/image"                   to="aligned_depth_to_color/image_raw" />
      <remap from="cloud"                         to="points" /> <!-- output-->

      <param name="decimation"                    value="$(var decimation)"/>
      <param name="voxel_size"                    value="$(var voxel_size)"/>
      <param name="noise_filter_radius"           value="$(var noise_filter_radius)"/>
      <param name="max_depth"                     value="$(var max_depth)"/>
    </node>
  </group>

  <group if="$(var pointcloud)">
    <push_ros_namespace namespace="pointcloud"/>
    
    <!-- Aggregate pointclouds from each camera (if using multiple cameras)-->
    <node pkg="rtabmap_util" exec='point_cloud_aggregator' name="point_cloud_aggregator" respawn="true">
      <remap from="cloud$(eval '$(var cams).find(\'1\')+1')" to="$(var /ns)/$(var cam_1_name)/points" />
      <remap from="cloud$(eval '$(var cams).find(\'2\')+1')" to="$(var /ns)/$(var cam_2_name)/points" />
      <remap from="cloud$(eval '$(var cams).find(\'3\')+1')" to="$(var /ns)/$(var cam_3_name)/points" />
      <remap from="cloud$(eval '$(var cams).find(\'4\')+1')" to="$(var /ns)/$(var cam_4_name)/points" />
      <remap from="combined_cloud" to="depth_combined_cloud"/>       
      <param name="count" value="$(eval 'len($(var cams))')"/>
      <param name="xyz_output" value="true"/>
      <param name="fixed_frame_id" value="$(var ns/)base_link" />
      <param name="approx_sync" value="true"/>
    </node>
  </group>

</launch>

