<launch>
    <arg name="serial_no_d435_left"    			  default="141222070808"/> 	
    <arg name="serial_no_d435_right"    			  default="939622074382"/> 	
    <arg name="initial_reset"                   default="true"/>
  <arg name="sim"                             default="false"/>
  <arg name="width"                           default="424"/>
  <arg name="height"                          default="240"/>
  <arg name="fps"                             default="30"/>
  <arg name="front"                           default="false"/>
  <arg name="back"                            default="true"/>
  <arg name="extras"                            default="true"/>
  <arg name="pointcloud" default="$(arg front)" />

    <group ns="d435_right/camera">

      <!-- Launch the camera device nodelet-->
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="external_manager"         value="false"/>
        <arg name="manager"                  value="right_realsense2_camera_manager"/>
        <arg name="tf_prefix"                value="d435_right"/>
        <arg name="serial_no"                value="$(arg serial_no_d435_right)"/>

        <arg name="enable_pointcloud"        value="false"/>
        <arg name="enable_sync"              value="false"/>
        <arg name="align_depth"              value="false"/>

        <arg name="enable_depth"             value="false"/>

        <arg name="color_width"              value="320"/>
        <arg name="color_height"             value="180"/>
        <arg name="enable_color"             value="true"/>

        <arg name="color_fps"                value="$(arg fps)"/>
        <arg name="filters"                  value=""/>

        <arg name="publish_tf"               value="true"/>
        <arg name="tf_publish_rate"          value="0"/>
      </include>
      <group ns="color">
        <node pkg="image_proc" type="image_proc" name="image_proc"
          args="image:=camera/color/image_raw" />
        <include file="$(find lunabot_perception)/launch/apriltag.launch">
          <arg name="camera_frame" value="d435_right_base" />
        </include>
      </group>
    </group>

    <group ns="d435_left/camera">
      <!-- Launch the camera device nodelet-->
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="external_manager"         value="false"/>
        <arg name="manager"                  value="left_realsense2_camera_manager"/>
        <arg name="tf_prefix"                value="d435_left"/>
        <arg name="serial_no"                value="$(arg serial_no_d435_left)"/>

        <arg name="enable_pointcloud"        value="false"/>
        <arg name="enable_sync"              value="false"/>
        <arg name="align_depth"              value="false"/>

        <arg name="enable_depth"             value="false"/>

        <arg name="color_width"              value="320"/>
        <arg name="color_height"             value="180"/>
        <arg name="enable_color"             value="true"/>

        <arg name="color_fps"                value="$(arg fps)"/>
        <arg name="filters"                  value=""/>

        <arg name="publish_tf"               value="true"/>
        <arg name="tf_publish_rate"          value="0"/>
      </include>
      <group ns="color">
        <node pkg="image_proc" type="image_proc" name="image_proc"
          args="image:=camera/color/image_raw" />
        <include file="$(find lunabot_perception)/launch/apriltag.launch">
          <arg name="camera_frame" value="d435_left_base" />
        </include>
      </group>
    </group>
</launch>