<launch>
    <arg name="lidar" default="true"/>
    <arg name="sim" default="false"/>

    <group unless="$(arg sim)">
        <include if="$(arg lidar)" file="$(find rplidar_ros)/launch/rplidar_a2m8.launch"/>

        <!-- publish static transform of lidar  -->
        <node pkg="tf" type="static_transform_publisher" name="base_to_lidar" args="0.275 0.3 0.38735 0 1.04719755 0 base_link laser 100" />

        
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
            <!-- <param name="scan_filter_chain" value="[
                {'name': 'angular_bounds_filter', 
                 'type': 'laser_filters/LaserScanAngularBoundsFilter', 
                 'params': {'lower_angle': 0, 'upper_angle': 3.14159}
                }
              ]"/> -->
            <rosparam command="load" file="$(find lunabot_config)/config/lidar_angular_bounds.yaml"/>
        </node>
       
    </group>

    <!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find lunabot_config)/config/lidar_angular_bounds.yaml"/>
    </node> -->

    <node name="scan_to_pc" pkg="lunabot_perception" type="scan_to_pc" output="screen">
        <remap from="/scan" to="/scan_filtered"/>
        <remap from="/cloud" to="/lidar_cloud" />
    </node>
</launch>