<launch>

  <node pkg="unitree_lidar_ros2" exec="unitree_lidar_ros2_node" name="unitree_lidar_ros2_node" output="screen" >
    <param name="initialize_type" value="2"/>
    <param name="work_mode" value="1"/>
    <param name="use_system_timestamp" value="true"/>
    <param name="range_min" value="0.0"/>
    <param name="range_max" value="100.0"/>
    <param name="cloud_scan_num" value="18"/>
    <param name="lidar_port" value="6101"/>
    <param name="lidar_ip" value="192.168.1.62"/>
    <param name="local_port" value="6201"/>
    <param name="local_ip" value="192.168.1.2"/>
    <param name="cloud_frame" value="unilidar_lidar"/>
    <param name="cloud_topic" value="unilidar/cloud"/>
    <param name="imu_frame" value="unilidar_imu"/>
    <param name="imu_topic" value="unilidar/imu"/>
  </node>

</launch>