<launch>

  <!-- Assemble pointclouds over time-->
    <node pkg="rtabmap_util" exec='point_cloud_assembler' name="point_cloud_assembler" respawn="true">
      <remap from="cloud" to="unilidar/cloud"/>
      <remap from="odom" to="odom"/>
      <remap from="assembled_cloud" to="lidar_assembled_cloud"/>  
      <param name="fixed_frame_id" value="base_link"/>     
      <param name="circular_buffer" value="true"/> <!-- remove oldest instead of waiting for entirely new clouds -->
      <param name="assembling_time" value="1.0"/> <!-- Seconds -->
    </node>

</launch>