<?xml version="1.0"?>
<launch>
    <arg name="foxglove" default="false"  />

    <include if="$(arg foxglove)" file="$(find foxglove_bridge)/launch/foxglove_bridge.launch" />
    <include file="$(find lunabot_control)/launch/manual_control.launch"/>

    <!-- Launch rviz -->
    <arg default="$(find lunabot_description)/launch/urdf.rviz" name="rvizconfig"/>
    <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

</launch>
