<?xml version="1.0"?> <launch>
    <rosparam param="costmapEnabled" subst_value="True">True</rosparam>
    <group ns="maps">
        <node name="costmap_node" pkg="lunabot_perception" type="costmap_node" output="screen">
            <rosparam file="$(find lunabot_config)/config/global_costmap.yml" command="load"
                        ns="global_costmap" />
        </node>
    </group>
</launch>