<launch>
  <!-- Group without delay -->
  <arg name="exp_name" default="exp" />
  <group>
    <!-- Run lunabot_bringup -->
    <include file="$(find lunabot_bringup)/launch/overhead.launch"/>

    <!-- Run lunabot_perception -->
    <include file="$(find lunabot_perception)/launch/cameras.launch"/>

    <node name="teensy_driver" pkg="lunabot_embedded" type="teensy_driver_node" output="screen"/>
  </group>

  <!-- Rosbag record with delay -->
  <node name="rosbag_record" pkg="rosbag" type="record" args="-o $(find lunabot_bringup)/bags/$(arg exp_name) /imu /d455_back/camera/color/image_rect_color /d455_back/camera/color/tag_detections /effort /d455_back/camera/aligned_depth_to_color/image_raw /d455_back/camera/aligned_depth_to_color/camera_info /d455_back/camera/color/camera_info /usb_cam/tag_detections /sensors --split --duration 60" launch-prefix="bash -c 'sleep 5; $0 $@'"/>
</launch>
