<?xml version="1.0"?>
<launch>
  <arg name="exp_name" default="exp" />
  <let name="current_time" value="$(eval '__import__(\'datetime\').datetime.now().strftime(\'%Y-%m-%d-%H-%M-%S\')')" />
  <let name="home_dir" value="$(eval '__import__(\'os\').path.expanduser(\'~\')')"/>

  <executable cmd="ros2 bag record -o $(var home_dir)/bags/mini-$(var exp_name)-$(var current_time)

  /mini/autonomy 
  /mini/led_color
  
  /mini/berm_zone /mini/berm_zone_marker 
  /mini/exc_zone /mini/exc_zone_marker
  /mini/start_zone /mini/start_zone_marker
  
  /mini/cmd_vel /mini/effort /mini/goal

  /mini/events 
  /mini/nav/failed
  /mini/nav_path

  /mini/mini_bot/joint_states /mini/mini_bot/robot_description

  /mini/d455_back/aligned_depth_to_color/camera_info
  /mini/d455_back/algined_depth_to_color/image_raw
  /mini/d455_back/color/camera_info
  /mini/d455_back/color/image_raw
  /mini/d455_back/detections
  /mini/d455_back/points

  /mini/d455_front/aligned_depth_to_color/camera_info
  /mini/d455_front/algined_depth_to_color/image_raw
  /mini/d455_front/color/camera_info
  /mini/d455_front/color/image_raw
  /mini/d455_front/detections
  /mini/d455_front/points

  /mini/pointcloud/depth_combined_cloud
  /mini/position
  /mini/ptp/angle_target
  /mini/ptp/angular_disparity
  /mini/ptp/log
  /mini/ptp/pid_angular
  /mini/ptp/pid_linear
  /mini/ptp/robot_state
  /mini/ptp/target_pose

  /mini/rtabmap/apriltag/detections
  /mini/rtabmap/cloud_ground
  /mini/rtabmap/cloud_map
  /mini/rtabmap/cloud_obstacles
  /mini/rtabmap/octomap_grid
  /mini/rtabmap/odom
  /mini/rtabmap/tag_detections

  /mini/sensors
  /mini/stalled
  
  /rosout
  /tf
  /tf_static
  
  "
    output="screen" />
</launch>
