
<?xml version="1.0"?>
<launch>
  <arg name="exp_name" default="exp_mini" />
  <let name="current_time" value="$(eval '__import__(\'datetime\').datetime.now().strftime(\'%Y-%m-%d-%H-%M-%S\')')" />
  <let name="home_dir" value="$(eval '__import__(\'os\').path.expanduser(\'~\')')"/>

  <executable cmd="ros2 bag record -o $(var home_dir)/bags/simple-$(var exp_name)-$(var current_time)

  /autonomy 
  /led_color
  
  /berm_zone /berm_zone_marker /exc_zone /exc_zone_marker
  /start_zone /start_zone_marker
  
  /cmd_vel /effort /goal

  /events 
  /nav/failed
  /nav_path

  /dummy_bot/joint_states /dummy_bot/robot_description

  /position

  /rtabmap/odom

  /sensors
  /stalled
  
  /rosout
  /tf
  /tf_static
  
  "
    output="screen" />
</launch>
