<?xml version="1.0"?>
<launch>
  <arg name="exp_name" default="exp" />
  <let name="current_time" value="$(eval '__import__(\'datetime\').datetime.now().strftime(\'%Y-%m-%d-%H-%M-%S\')')" />
  <let name="home_dir" value="$(eval '__import__(\'os\').path.expanduser(\'~\')')"/>

  <executable cmd="ros2 bag record -s mcap -o $(var home_dir)/bags/$(var exp_name)-$(var current_time) 

  /autonomy 
  /led_color
  
  /berm_zone /berm_zone_marker /exc_zone /exc_zone_marker
  /start_zone /start_zone_marker
  
  /cmd_vel /effort /goal

  /events 
  /nav/failed
  /nav_path

  /dummy_bot/joint_states /dummy_bot/robot_description

  /d455_back/aligned_depth_to_color/camera_info
  /d455_back/aligned_depth_to_color/image_raw
  /d455_back/color/camera_info
  /d455_back/color/image_raw
  /d455_back/detections
  /d455_back/points

  /d455_front/aligned_depth_to_color/camera_info
  /d455_front/aligned_depth_to_color/image_raw
  /d455_front/color/camera_info
  /d455_front/color/image_raw
  /d455_front/detections
  /d455_front/points

  /pointcloud/depth_combined_cloud
  /position
  /ptp/angle_target
  /ptp/angular_disparity
  /ptp/log
  /ptp/pid_angular
  /ptp/pid_linear
  /ptp/robot_state
  /ptp/target_pose

  /rtabmap/apriltag/detections
  /rtabmap/cloud_ground
  /rtabmap/cloud_map
  /rtabmap/cloud_obstacles
  /rtabmap/octomap_grid
  /rtabmap/odom
  /rtabmap/tag_detections
  /rtabmap/map

  /rtabmap/crater
  /rtabmap/ground_plane

  /global_costmap/costmap
  /global_costmap/costmap_updates
  /global_costmap/costmap_raw

  /trench_marker

  /sensors
  /stalled
  
  /rosout
  /tf
  /tf_static
  
  "
    output="screen" />
</launch>
