<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <set_parameter name="use_sim_time" value="true" /> <!-- Use time from Gazebo (will break without this)-->

  <arg name="two_bots" default="true"/> 
  <arg name="gui" default="true"/>
  <arg name="odom_from_sim" default="true" />
  
  <arg default="$(find-pkg-share lunabot_config)/config/sim.rviz" name="rvizconfig"/>
  <arg default="$(find-pkg-share lunabot_config)/config/mini_sim.rviz" name="minirvizconfig"/>
  <node args="-d $(var rvizconfig)" name="rviz" pkg="rviz2" exec="rviz2" />
  <node if="$(var two_bots)" args="-d $(var minirvizconfig)" name="mini_rviz" pkg="rviz2" exec="rviz2" />

  <node pkg="lunabot_sim" exec="simulator">
    <param name="scene_path" value="$(find-pkg-share lunabot_sim)/mujoco/scene_all.xml" />
  </node>

  <node if="$(var two_bots)" name="joy_node" pkg="joy" exec="joy_node" output="screen" respawn="true" namespace="mini">
    <param name="device_id" value="1" />
  </node>

  <node name="joy_node" pkg="joy" exec="joy_node" output="screen" respawn="true" namespace="">
    <param name="device_id" value="0" />
  </node>

  <include file="$(find-pkg-share lunabot_bringup)/launch/robot.launch">
    <arg name="sim" value="true"/>
    <arg name="robot_num" value="0"/>
    <arg name="entity_name" value="dummy_bot"/>
    <arg name="odom_from_sim" value="$(var odom_from_sim)"/>
  </include>
  <include if="$(var two_bots)" file="$(find-pkg-share lunabot_bringup)/launch/robot.launch">
    <arg name="sim" value="true"/>
    <arg name="robot_num" value="1"/>
    <arg name="entity_name" value="mini_bot"/>
    <arg name="odom_from_sim" value="$(var odom_from_sim)"/>
  </include>
</launch>
