<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <set_parameter name="use_sim_time" value="true" /> <!-- Use time from Gazebo (will break without this)-->

  <!-- Set the arena to either KSC or UCF arena based on the boolean argument. -->
  <arg name="KSC_arena" default="true"/>

  <!-- Should we use Point To Point or Pure pursuit -->
  <arg name="ptp" default="true"/>

  <arg name="gui" default="true"/>

  <!-- Values for arena world (Nasa is KSC, UCF is not.) The above boolean argument changes 
  what arg is passed to the launch file below (therefore, there are two duplicate launch files)
  $(find lunabot_sim)/worlds/arena_nasa.world
  $(find lunabot_sim)/worlds/arena_ucf.world -->

  <arg name="initial_pose" default="-x 1.0 -y -1.3 -z 0"/>
  <!-- <arg name="model" default="$(find dummy_bot_description)/urdf/dummy_bot.xacro"/> -->

  <include if="$(var gui)" file="$(find-pkg-share lunabot_sim)/launch/gazebo.launch.py"/>
  <include unless="$(var gui)" file="$(find-pkg-share lunabot_sim)/launch/gazebo_no_gui.launch.py"/>

  <arg default="$(find-pkg-share lunabot_config)/config/sim.rviz" name="rvizconfig"/>
  <node args="-d $(var rvizconfig)" name="rviz" pkg="rviz2" exec="rviz2" />

  <!-- cameras -->

  <!-- navigation -->
  <group>
    <push_ros_namespace namespace="nav"/>
    <node name="global_planner_node" pkg="lunabot_nav" exec="dstar_node" output="screen" respawn="true">
      <param name="use_sim_time" value="true"/>
    </node>

    <!-- Path followers- Point to point or Pure pursuit -->
    <node name="point_to_point_node" if="$(var ptp)" pkg="lunabot_control" exec="point_to_point_node" output="screen" respawn="false" >
      <param name="use_sim_time" value="true"/>
    </node>
  </group>

  <!-- mapping -->
  <group>
    <node name="costmap" pkg="map_server" exec="map_server" output="screen" namespace="costmap">
      <param from="$(find-pkg-share lunabot_config)/config/sim_map.yml"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
</launch>