<?xml version="1.0"?>
<launch>
  <node pkg="lunabot_control" type="carnival_controller.py" name="manual_control" output="screen"/>

  <!-- joystick nodes -->
  <group >
    <remap from="joy" to="joy0"/>
    <node respawn="true" pkg="joy" type="joy_node" name="joy0" output="screen">
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="default_trig_val" type="bool" value="true" />
    </node>
  </group>

  <group >
    <remap from="joy" to="joy1"/>
    <node respawn="true" pkg="joy" type="joy_node" name="joy1" output="screen">
      <param name="dev" type="string" value="/dev/input/js1" />
      <param name="default_trig_val" type="bool" value="true" />
    </node>
  </group>

</launch>
