<?xml version="1.0"?>
<robot name="dummy_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="silver">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <link name="base_link"/>

  <link name="middle_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.9 0.5 0.1"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="mid_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0 0.3"/>
    <parent link="base_link"/>
    <child link="middle_link"/>
  </joint>

  <link name="excavation">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.75 0.13 0.1"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="excavation_joint" type="fixed">
    <origin rpy="0 -2.0944 0" xyz="0.4 0 0.2"/>
    <parent link="middle_link"/>
    <child link="excavation"/>
    <axis xyz="1 0 0"/>
    <limit effort="1000.0" lower="-0.2" upper="0.0" velocity="0.5"/>
  </joint>


  <link name="left_front">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.2" length="0.125"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="left_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.3302 0.254 0.178"/>
    <parent link="base_link"/>
    <child link="left_front"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="left_back">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <cylinder radius="0.2" length="0.125"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="left_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.228 0.254 0.178"/>
    <parent link="base_link"/>
    <child link="left_back"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="right_front">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <cylinder radius="0.2" length="0.125"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="right_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.3302 -0.254 0.178"/>
    <parent link="base_link"/>
    <child link="right_front"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="right_back">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.2" length="0.125"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="right_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.228 -0.254 0.178"/>
    <parent link="base_link"/>
    <child link="right_back"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="deposition_apriltag_link">
    <visual>
      <origin rpy="1.57 0 1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://lunabot_sim/models/apriltag_126_dae/apriltag_126.dae" scale="0.12 0.12 1"/>
      </geometry>
    </visual>
  </link> 

  <link name="deposition_apriltag_small_link">
    <visual>
      <origin rpy="1.57 0 1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://lunabot_sim/models/apriltag_173_dae/apriltag_173.dae" scale="0.025 0.025 1"/>
      </geometry>
    </visual>
  </link> 

  <joint name="deposition_apriltag_joint" type="fixed">
    <origin rpy="0.0 -0.35 3.14" xyz="-0.42 -0.02 0.51"/>
    <parent link="base_link"/>
    <child link="deposition_apriltag_link"/>
  </joint>

  <joint name="deposition_apriltag_small_joint" type="fixed">
    <origin rpy="0.0 -0.35 3.14" xyz="-0.42 0.09 0.51"/>
    <parent link="base_link"/>
    <child link="deposition_apriltag_small_link"/>
  </joint>

  <link name="deposition_apriltag_optical_frame"></link>

  <link name="deposition_apriltag_small_optical_frame"></link>

  <joint name="deposition_apriltag_optical_joint" type="fixed">
    <origin rpy="1.57 0.0 1.57" xyz="0.0 0.0 0.0"/>
    <parent link="deposition_apriltag_link"/>
    <child link="deposition_apriltag_optical_frame"/>
  </joint>


  <joint name="deposition_apriltag_small_optical_joint" type="fixed">
    <origin rpy="1.57 0.0 1.57" xyz="0.0 0.0 0.0"/>
    <parent link="deposition_apriltag_small_link"/>
    <child link="deposition_apriltag_small_optical_frame"/>
  </joint>
  
  <link name="d455_back_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <joint name="d455_back_joint" type="fixed">
    <origin rpy="${pi} 0.7 ${pi}" xyz="-0.44 0.02 0.63"/>
    <parent link="base_link"/>
    <child link="d455_back_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="d455_front_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <joint name="d455_front_joint" type="fixed">
    <origin rpy="0 ${-0.663 + pi} 0" xyz="0.3 0.0 -0.15"/>
    <parent link="excavation"/>
    <child link="d455_front_link"/>
  </joint>

  <link name="d455_back_sim_link" />
  <link name="d455_front_sim_link" />

  <joint name="d455_back_sim_joint" type="fixed">
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
    <parent link="d455_back_link"/>
    <child link="d455_back_sim_link"/>
  </joint>
  
  <joint name="d455_front_sim_joint" type="fixed">
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
    <parent link="d455_front_link"/>
    <child link="d455_front_sim_link"/>
  </joint>
</robot>
