<?xml version="1.0"?>
<robot name="mini_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="silver">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>
  <link name="base_link"/>

  <link name="middle_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.355 0.43 0.1"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="mid_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0 0.15"/>
    <parent link="base_link"/>
    <child link="middle_link"/>
  </joint>
  
  <link name="lidar_mid_link" />

  <link name="lidar_link" />

  <joint name="lidar_mid_joint" type="fixed">
    <origin rpy="0 ${-pi/2} ${pi}" xyz="0.16939 -0.051 0.428"/>
    <parent link="middle_link"/>
    <child link="lidar_mid_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <origin rpy="0 0 ${pi*0.375}" xyz="0 0 0"/>
    <parent link="lidar_mid_link"/>
    <child link="lidar_link"/>
    <axis xyz="0 0 1"/>
  </joint>


  <link name="left_front">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="left_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.0532 0.305 0.03"/>
    <parent link="base_link"/>
    <child link="left_front"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="left_back">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="left_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.2008 0.305 0.03"/>
    <parent link="base_link"/>
    <child link="left_back"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="right_front">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="right_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.0532 -0.305 0.03"/>
    <parent link="base_link"/>
    <child link="right_front"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="right_back">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>
  </link>

  <joint name="right_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.2008 -0.305 0.03"/>
    <parent link="base_link"/>
    <child link="right_back"/>
    <axis xyz="0 1 0"/>
  </joint>


  <link name="d455_back_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <joint name="d455_back_joint" type="fixed">
    <origin rpy="0 0 ${pi}" xyz="-0.155 0 0.51"/>
    <parent link="base_link"/>
    <child link="d455_back_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="d455_front_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <joint name="d455_front_joint" type="fixed">
    <origin rpy="0 0.523599 0" xyz="0.18939 0.16173 0.52"/>
    <parent link="base_link"/>
    <child link="d455_front_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="d455_back_sim_link" />
  <link name="d455_front_sim_link" />

  <joint name="d455_back_sim_joint" type="fixed">
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
    <parent link="d455_back_link"/>
    <child link="d455_back_sim_link"/>
  </joint>
  
  <joint name="d455_front_sim_joint" type="fixed">
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
    <parent link="d455_front_link"/>
    <child link="d455_front_sim_link"/>
  </joint>

</robot>
