<?xml version="1.0"?>
<robot name="mini_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="silver">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>
  <link name="base_link"/>

  <link name="middle_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="50.0"/>
      <inertia  ixx="3.416666667" ixy = "0" ixz = "0"
        iyy="3.416666667" iyz = "0"
        izz="3.416666667"
      />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.355 0.43 0.1"/>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/realistic_robot.stl"/> -->
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.355 0.43 0.1"/>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/realistic_robot.stl"/> -->
      </geometry>
    </collision>
  </link>

  <joint name="mid_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0 0.15"/>
    <parent link="base_link"/>
    <child link="middle_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- left front -->
  <link name="left_front">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia  ixx="0.056510417" ixy = "0" ixz = "0"
        iyy="0.056510417" iyz = "0"
        izz="0.1"
      />
    </inertial>

    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <!-- <surface> -->
        <!-- <friction> -->
          <!-- <ode> -->
            <!-- <mu>0.01</mu> -->
            <!-- <mu2>0.01</mu2> -->
          <!-- </ode> -->
        <!-- </friction> -->
      <!-- </surface> -->
    </collision>
  </link>

  <joint name="left_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.0532 0.305 0.03"/>
    <!-- <origin rpy="0 0 0" xyz="0.3302 0.254 0.1778"/> -->
    <parent link="base_link"/>
    <child link="left_front"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10.0" velocity="100.0"/> -->
  </joint>

  <!-- left back -->
  <link name="left_back">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia  ixx="0.056510417" ixy = "0" ixz = "0"
        iyy="0.056510417" iyz = "0"
        izz="0.1"
      />
    </inertial>

    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <!-- <surface> -->
        <!-- <friction> -->
          <!-- <ode> -->
            <!-- <mu>0.01</mu> -->
            <!-- <mu2>0.01</mu2> -->
          <!-- </ode> -->
        <!-- </friction> -->
      <!-- </surface> -->
    </collision>
  </link>

  <joint name="left_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.2008 0.305 0.03"/>
    <parent link="base_link"/>
    <child link="left_back"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10.0" velocity="100.0"/> -->
  </joint>

  <!-- right front -->
  <link name="right_front">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia  ixx="0.056510417" ixy = "0" ixz = "0"
        iyy="0.056510417" iyz = "0"
        izz="0.1"
      />
    </inertial>

    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <!-- <surface> -->
        <!-- <friction> -->
          <!-- <ode> -->
            <!-- <mu>0.01</mu> -->
            <!-- <mu2>0.01</mu2> -->
          <!-- </ode> -->
        <!-- </friction> -->
      <!-- </surface> -->
    </collision>
  </link>

  <joint name="right_front_rev" type="continuous">
    <origin rpy="0 0 0" xyz="0.0532 -0.305 0.03"/>
    <!-- <origin rpy="0 0 0" xyz="0.3302 -0.254 0.178"/> -->
    <parent link="base_link"/>
    <child link="right_front"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10.0" velocity="100.0"/> -->
  </joint>

  <!-- right back -->
  <link name="right_back">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia  ixx="0.056510417" ixy = "0" ixz = "0"
        iyy="0.056510417" iyz = "0"
        izz="0.1"
      />
    </inertial>

    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
      <!-- <mesh filename="file://$(find mining_arena_gazebo)/models/realistic_robot/robot_wheel.stl"/> -->
      <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <!-- <surface> -->
        <!-- <friction> -->
          <!-- <ode> -->
            <!-- <mu>0.01</mu> -->
            <!-- <mu2>0.01</mu2> -->
          <!-- </ode> -->
        <!-- </friction> -->
      <!-- </surface> -->
    </collision>
  </link>

  <joint name="right_back_rev" type="continuous">
    <origin rpy="0 0 0" xyz="-0.2008 -0.305 0.03"/>
    <parent link="base_link"/>
    <child link="right_back"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10.0" velocity="100.0"/> -->
  </joint>


  <!-- Back Camera -->
  <link name="d455_back_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="0.001" 
        ixy="0.000" 
        ixz="0.000"
        iyy="0.001"
        iyz="0.000"
        izz="0.001"
      />
      <mass value="0.035"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <link name="d455_back_rgb_link">
  </link>
  <link name="d455_back_depth_link">
  </link>  

  <joint name="d455_back_joint" type="fixed">
    <origin rpy="${pi} 0 ${pi}" xyz="-0.381 0.05 0.558"/>
    <parent link="base_link"/>
    <child link="d455_back_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="d455_back_rgb_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="d455_back_link"/>
    <child link="d455_back_rgb_link"/>
  </joint>

  <joint name="d455_back_depth_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="d455_back_link"/>
    <child link="d455_back_depth_link"/>
  </joint>

  <gazebo reference="d455_back_link">
    <sensor name="d455_back_rgb" type="camera">
      <always_on>1</always_on>
      <visualize>false</visualize>
      <update_rate>15</update_rate>
      <topic>mini/d455_back/color/image_raw</topic>
      <gz_frame_id>minid455_back_rgb_link</gz_frame_id>
      <camera name="d455_back_rgb">
        <camera_info_topic>mini/d455_back/color/camera_info</camera_info_topic>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>424</width>
          <height>240</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>3</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="d455_back_link">
    <sensor name="d455_back_depth" type="depth_camera">
      <always_on>1</always_on>
      <visualize>false</visualize>
      <update_rate>15</update_rate>
      <topic>mini/d455_back/aligned_depth_to_color/image_raw</topic>
      <gz_frame_id>minid455_back_depth_link</gz_frame_id>
      <camera name="d455_back_depth">
        <camera_info_topic>mini/d455_back/aligned_depth_to_color/camera_info</camera_info_topic>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>424</width>
          <height>240</height>
          <format>R_FLOAT32</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>3</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <!-- Front Camera -->


  <link name="d455_front_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="0.001" 
        ixy="0.000" 
        ixz="0.000"
        iyy="0.001"
        iyz="0.000"
        izz="0.001"
      />
      <mass value="0.035"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.03 0.1 0.03" />
      </geometry>
    </visual>
  </link>

  <link name="d455_front_rgb_link">
  </link>
  <link name="d455_front_depth_link">
  </link>  

  <joint name="d455_front_joint" type="fixed">
    <origin rpy="0 0.3 0" xyz="0.558 -0.17 0.33"/>
    <parent link="base_link"/>
    <child link="d455_front_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="d455_front_rgb_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="d455_front_link"/>
    <child link="d455_front_rgb_link"/>
  </joint>

  <joint name="d455_front_depth_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="d455_front_link"/>
    <child link="d455_front_depth_link"/>
  </joint>

  <gazebo reference="d455_front_link">
    <sensor name="d455_front_rgb" type="camera">
      <always_on>1</always_on>
      <visualize>false</visualize>
      <update_rate>15</update_rate>
      <topic>mini/d455_front/color/image_raw</topic>
      <gz_frame_id>minid455_front_rgb_link</gz_frame_id>
      <camera name="d455_front_rgb">
        <camera_info_topic>mini/d455_front/color/camera_info</camera_info_topic>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>424</width>
          <height>240</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>5</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="d455_front_link">
    <sensor name="d455_front_depth" type="depth_camera">
      <always_on>1</always_on>
      <visualize>false</visualize>
      <update_rate>15</update_rate>
      <topic>mini/d455_front/aligned_depth_to_color/image_raw</topic>
      <gz_frame_id>minid455_front_depth_link</gz_frame_id>
      <camera name="d455_front_depth">
        <camera_info_topic>mini/d455_front/aligned_depth_to_color/camera_info</camera_info_topic>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>424</width>
          <height>240</height>
          <format>R_FLOAT32</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>5</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="left_front_rev">
      <command_interface name="velocity">
        <param name="min">-15</param>
        <param name="max">15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_back_rev">
      <command_interface name="velocity">
        <param name="min">-15</param>
        <param name="max">15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_front_rev">
      <command_interface name="velocity">
        <param name="min">-15</param>
        <param name="max">15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_back_rev">
      <command_interface name="velocity">
        <param name="min">-15</param>
        <param name="max">15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <xacro:include filename="$(find lunabot_description)/urdf/dummy_bot.trans" />
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find lunabot_config)/config/sim_controller.yaml</parameters>
        <robot_param_node>mini_bot/robot_state_publisher</robot_param_node>
        <ros>
          <namespace>mini</namespace>
        </ros>
    </plugin>

    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <topic>mini/joint_states</topic>
        <joint_name>left_front_rev</joint_name>
        <joint_name>left_back_rev</joint_name>
        <joint_name>right_front_rev</joint_name>
        <joint_name>right_back_rev</joint_name>
    </plugin>

    <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>false</publish_link_pose>
        <publish_visual_pose>false</publish_visual_pose>
        <publish_collision_pose>false</publish_collision_pose>
        <publish_sensor_pose>false</publish_sensor_pose>
        <publish_model_pose>true</publish_model_pose>
        <publish_nested_model_pose>false</publish_nested_model_pose>
    </plugin>
    
  </gazebo>


</robot>
