<launch>
	<arg name="gazebo" default="1"/>
	<include file="$(find dummy_bot_description)/launch/display.launch" />
	<include file="$(find lunabotics_robot)/launch/sensors_tf.launch" />
	<include file="$(find lunabotics_robot)/launch/gazebo.launch" >
		<arg name="gazebo" value="$(arg gazebo)"/>
	</include>
</launch>
