<launch>
  <!-- <include file="$(find lunabotics_robot)/launch/camera.launch" /> -->
  <!-- <include file="$(find lunabotics_robot)/launch/lidar.launch" /> -->  
	<include file="$(find lunabotics_sim_v2_description)/launch/display.launch" />
<node pkg="lunabotics_robot" type="sensors_tf_broadcaster" name="sensors_tf_broadcaster"/>
</launch>
