<?xml version="1.0"?>
<launch>
    <group ns="maps">
        <node name="costmap_node" pkg="lunabot_nav" type="costmap_node" output="screen">
            <rosparam file="$(find lunabot_config)/config/global_costmap.yml" command="load" ns="global_costmap" />
        </node>
    </group>

    <node pkg="lunabot_control" type="differential_drive_controller.py" name="diff_drive_controller" output="screen"/>

    <group ns="nav">
        <rosparam file="$(find lunabot_config)/config/nav.yml" command="load" />

        <node pkg="lunabot_control" type="mpc_node" name="mpc_node" output="screen">
            <rosparam file="$(find lunabot_config)/config/mpc.yml" command="load"/>
	</node>

        <node name="global_planner_node" pkg="lunabot_nav" type="dstar_node.py" output="screen" respawn="true">
            <!-- <rosparam file="$(find lunabot_config)/config/rrtstar.yml" command="load"/> -->
        </node>
    </group>

</launch>
