<?xml version="1.0"?>
<launch>

    <group ns="nav">
        <rosparam file="$(find lunabot_config)/config/nav.yml" command="load" />

        <node name="mpc_node" pkg="lunabot_nav" type="mpc_node" output="screen">
            <rosparam file="$(find lunabot_config)/config/mpc.yml" command="load"/>
        </node>
        <node name="global_planner_node" pkg="lunabot_nav" type="global_planner_node" output="screen">
            <rosparam file="$(find lunabot_config)/config/rrtstar.yml" command="load"/>
        </node>
    </group>

</launch>