<launch>

    <!-- Builds map --> 
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />
        <param name="sensor_model/max_range" value="5" />
        <param name="filter_speckles" value="true" />
        <param name="pointcloud_min_z" type="double" value="-2.0" />
        <param name="pointcloud_max_z" type="double" value="4.0" />
        <param name="occupancy_min_z" value="0.1" />
        <param name="occupancy_max_z" value="0.5" />

        <!-- Map frame id --> 
        <param name="frame_id" type="string" value="map" />

        <!-- Robot base_link frame id --> 
        <param name="base_frame_id" type="string" value="base_link" />

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/d435/camera/depth/color/points" />
        <remap from="cloud_in2" to="/cloud" />
    </node>
    
</launch>
