<launch>
    <group ns="octomap_server">
        <rosparam file="$(find lunabot_nav)/config/octomap.yml" command="load" />
    </group>

    <!-- Builds map from d435 camera --> 
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/d435/camera/depth/color/points" />
    </node>
    
</launch>
