<launch>
  <arg default="true" name="gui"/>

  <arg name="model" default="$(find lunabot_description)/urdf/lunabot.xacro"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <arg default="$(find lunabot_description)/launch/urdf.rviz" name="rvizconfig"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
