<?xml version="1.0" ?>
<model>
    <name>apriltag_board</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
      <author>
       <name>Raghava Uppuluri</name>
       <email>ruppulur@purdue.edu</email>
      </author>
    
    <description>Apriltag board</description>
</model>

