odom_topic: "/rtabmap/odom"
cmd_vel_topic: "/cmd_vel"
nav_goal_topic: "/goal"
apriltag_topic: "/apriltag_pose"


nav:
    map_topic: "/maps/costmap_node/global_costmap/costmap"
    map_update_topic: "/maps/costmap_node/global_costmap/costmap_updates"
    global_path_topic: "/nav/global_path"
    occ_threshold: 50 # corresponds to possibly-in-collision
    bezier_step: 0.01
    lerp_step: 0.05

    dstar_node:
        path_sampling_rate: 5 # Take every <n-th> point from the path

    pure_pursuit:
        slip_k1: 0.12
        heading_k2: 0.05
        kp: 0.001
        ki: 0
        kd: 0
        kv: 0.8
        ka: 0.0002
        frequency_p: 15
        lookahead: 0.5
        velocity_limits_p:
            linear: [-0.2, 0.2]
            angular: [-0.785, 0.785]

    pure_pursuit_test_wheels:
        slip_k1: 0.02
        heading_k2: 0.02
        kp: 0.001
        ki: 0
        kd: 0
        kv: 0.8
        ka: 0.0002
        frequency_p: 15
        lookahead: 0.5
        velocity_limits_p:
            linear: [-0.2, 0.2]
            angular: [-0.785, 0.785]

differential_drive_controller:
    max_speed_percentage: 0.8
    hz: 20
    max_speed: 3000 #
    p: 3.9
    i: 0.015
    d: 0.0
    i_saturate: 10


is_sim: false
