<?xml version="1.0"?>
<launch>
	<node pkg="tf" type="static_transform_publisher" name="d435_broadcaster" args="0.22225 -0.015875 0.80 0 0 0 1 base_link d435 100" />
	<node pkg="tf" type="static_transform_publisher" name="d435_camera_broadcaster" args="0.22225 -0.015875 0.80 0 0 0 1 base_link camera_pose_frame 100" />

	<node pkg="tf" type="static_transform_publisher" name="t265_broadcaster" args="0.19685 0.111125 0.0 0 0 0 1 d435 camera_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="t265_pose_broadcaster" args="0.19685 0.111125 0.0 0 0 0 1 d435 camera_link_pose 100" />
	<node pkg="tf" type="static_transform_publisher" name="t265_odom_broadcaster" args="0.19685 0.111125 0.0 0 0 0 1 d435 camera_odom_frame 100" />

	<node pkg="tf" type="static_transform_publisher" name="lidar_stepper_broadcaster" args="0.19685 -0.111125 0.0 0 0 0 1 base_link lidar_stepper 100" />
	<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.03175 0.0 0.073 0.1830127 -0.1830127 0.6830127 0.6830127 lidar_stepper laser 100" />
</launch>
