name: Catkin ROS Tests 

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master 
      - develop 
  pull_request:
    branches:
      - master 
      - develop  

jobs:
  industrial_ci:
    strategy:
      matrix:
        ROS_DISTRO: [melodic]
        ROS_REPO: [testing, main]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
